nav{
    display: flex;
    align-items: center;
    width: 100%;
}
nav div {
    width: 100%;
}
nav .logo{
    width: 74px;
    height: 74px;
}
.buttons-container {
    display: flex;
    justify-content: flex-end;
}
.mode {
    width: 36px;
    height: 28px;
    margin-right: 8px;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mode img{
    width: 100%;
    height: 100%;
}
.translate {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}
.translate:active{
    background-color: transparent;
}
.translate img{
    width: 100%;
    height: 100%;
}
.translate-options {
    display: flex;
    position: absolute;
    background-color: rgb(49, 49, 49);
    width: auto;
    left: -130px;
}
.translate-options div {
    margin: 0px;
    padding: 12px;
}
.translate-options div button {
    color: #2061e4;
    text-decoration: none;
    font-size: 15px;
    padding: 4px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease border;
}
.translate-options div button:hover{
    border: 1px solid var(--primary-red);
}
#inactive{
    display: none;
}
@media (min-width: 768px) {
    nav .logo{
        width: 100px;
        height: 100px;
    }
    .buttons-container {
        margin-right: 18px;
    }
    nav .mode {
        width: 40px;
        height: 35px;
    }
    nav .translate {
        width: 30px;
        height: 30px;
    }
}