:root{
    --primary-red: #FF0000;
    --black: #16213E;
    --white: #EEEEEE;
}
*{
    box-sizing: border-box;
    font-family: 'Alice', serif;
}
.dark-mode{
    background-color: var(--black);
    color: var(--white);
}
.light-mode{
    background-color: var(--white);
    color: var(--black);
}
.main-container {
    padding: 16px;
}

@media (min-width: 768px) {
    .main-container {
        width: 90%;
        margin: 0 auto;
    }
}
@media (min-width: 1100px) {
    .main-container {
        width: 70%;
    }
}